<!DOCTYPE html>
<% const a = 1000 %>
    <% function add() {
    return 'XIN CHAO';
} %>
        <%
    class PhepTinh {
    constructor(soA, soB, tenPhepTinh) {
        this.soA = soA;
        this.soB = soB;
        this.tenPhepTinh = tenPhepTinh;
    }

    show() {
        let pt;
        switch (this.tenPhepTinh) {
            case 'cong': { 
                pt = '+';
                break;
            }
            case 'tru': { 
                pt = '-';
                break;
            }case 'nhan': { 
                pt = '*';
                break;
            }default: { 
                pt = '/';
                break;
            }
        }
        const veTrai = `${this.soA} ${pt} ${this.soB}`;
        return `${veTrai} = ${ eval(veTrai) }`;
    }
}
%>
<html lang="en">

    <head>
        <title>KhoaPham</title>
    </head>
    <body>
        <h3>
            <% 
                const phepTinh = new PhepTinh(soA, soB, pt);
            %>
            <%= phepTinh.show() %>
        </h3>
    </body>
</html>